@import "../../assets/css/variable.scss";
@import "../../assets/css/classes.scss";

page-login {
  background: url("../../assets/imgs/login_page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  display: flex !important;

  .main-container {
    margin: 20px;
    width: 100%;

    .data-container {
      border-radius: 14px;
      height: 100%;
      background-color: rgba(161, 160, 160, 0.6);
      display: flex;
      flex-direction: row;
      justify-content: center;

      .box-login {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .login-logo {
          display: flex;
          width: 150px;
          height: 150px;
          justify-content: center;
          align-items: center;

          .logo-image {
            background-color: $bms_grey;
            border-radius: 100px;
          }
        }

        .input-data {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 60%;

          .login-title {
            display: flex;
            text-align: center;
            justify-content: center;
            flex-direction: column;
            align-items: center;
  
            .title-text {
              display: flex;
              font-family: $bms_font_header;
              color: $bms_grey;
              font-weight: bold;
              font-size: 20px;
              text-align: center;
            }
            .subtitle-text {
              display: flex;
              font-family: $bms_font_header;
              color: $bms_grey;
              font-weight: bold;
              font-size: 14px;
              text-align: center;
            }
          }
  
          .login-user {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
  
            .user-input {
              height: 35px;
              margin: 5px;
              padding: 10px;
              font-weight: 200;
              font-size: 15px;
              align-items: baseline;
              border-radius: 5px;
              border: solid 1px #00000033;
            }
  
            .user-forgot-password {
              width: 55%;
              font-size: 10px;
              margin: 0;
              font-family: $bms_font_text;
              color: #00000050;
            }
          }
  
          .login-button {
            display: flex;
            border-radius: 5px;
            justify-content: center;
            padding: 5px;
          }

        }

      }
    }
  }
}
