@import "../../theme/variables.scss";

.modal-accept {
    background-color: $bms_green;
}

.modal-cancel {
    background-color: $bms_red;
    margin-right: 20px;
}

.message {
    font-size: 18px;
}

.close-modal {
    color: $bms_red;
    font-size: 40px;
    padding-right: 5px;
    font-weight: bold;
}

.toolbar-title-ios {
    font-size: 20px
}

ion-footer {
    padding: 20px;
}