@import "../../theme/variables.scss";

form-modal {
    .modal-accept {
        background-color: #4AA896;
    }
    
    .modal-cancel {
        background-color:  #DC3D49;
        margin-right: 20px;
    }
    
    .message {
        font-size: 18px;
    }
    
    .close-modal {
        color:  #DC3D49 !important;
        font-size: 40px;
        padding-right: 5px;
        font-weight: bold;
    }
    
    .toolbar-title-ios {
        font-size: 20px
    }
    
    ion-footer {
        padding: 20px;
    }

    input {
        margin-left: 10px;
        border-bottom: black;
    }
}