<div class="calculator-row">
    <div *ngFor="let number of [1,2,3]" class="calculator-btn-container">
        <button mat-stroked-button (click)="clickOnNumber(number)">
            {{number}}
        </button>
    </div>
</div>
<div class="calculator-row">
    <div *ngFor="let number of [4,5,6]" class="calculator-btn-container">
        <button mat-stroked-button (click)="clickOnNumber(number)">
            {{number}}
        </button>
    </div>
</div>
<div class="calculator-row">
    <div *ngFor="let number of [7,8,9]" class="calculator-btn-container">
        <button mat-stroked-button (click)="clickOnNumber(number)">
            {{number}}
        </button>
    </div>
</div>
<div class="calculator-row">
    <div class="calculator-btn-container">
        <button mat-stroked-button color="accent" class="delete" (click)="backspace()">
            <i class="material-icons">keyboard_backspace</i>
        </button>
    </div>
    <div class="calculator-btn-container">
        <button mat-stroked-button (click)="clickOnNumber(0)">
            0
        </button>
    </div>
    <div class="calculator-btn-container">
        <button mat-stroked-button color="primary" class="add" (click)="addToBasket()">
            <i class="material-icons">check</i>
        </button>
    </div>
</div>