// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$bms_black :        #132F30;
$bms_grey:          #F1F1FB;
$bms_dark_blue:     #02617F;
$bms_green:         #4AA896;
$bms_dark_grey:     #585A5E;
$bms_white:         #FBFCFC;
$bms_slate:         #979B9E;
$bms_light_blue:    #51C9DF;
$bms_red:           #DC3D49;
$menu_select_color: #A6F2F9;
$menu_select_bg:    #134252;
$bms_highlight:     #FBFD8D;
$bms_neutral_grey:  #c5c5ce;


$colors: (
  primary:    $bms_dark_blue,
  secondary:  $bms_green,
  danger:     $bms_highlight,
  light:      $bms_white,
  dark:       $bms_black,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url($font-path + '/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url($font-path + '/MaterialIcons-Regular.woff2') format('woff2'),
    url($font-path + '/MaterialIcons-Regular.woff') format('woff'),
    url($font-path + '/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.mat-primary {
    color: $bms_green !important;
}

.mat-accent {
    color: $bms_red !important;
}

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

// Fonts
$bms_font_header : 'Lato', sans-serif;
$bms_font_text : 'Roboto', sans-serif;

// Shadow
$bms_shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
