 <ion-navbar>
    <ion-title>
        <img src="../../assets/imgs/bms_logo.png"/>
        <span>{{ title }}</span>
    </ion-title>
    <ion-buttons end>
        <span [ngClass]="{'visibleOnline': visibleOnline === true, 'hiddenOnline': visibleOnline === false }" class="hiddenOnline">
            Syncing...
        </span>
        <button ion-button (click)="sync(true)" [ngClass]="{'turnButton': turnButton === true}" [disabled]="disabledSync">
            <i class="material-icons">sync</i>
        </button>
        <button ion-button (click)="logout()">
            <i class="material-icons">exit_to_app</i>
        </button>
    </ion-buttons>
 </ion-navbar>