 @import '../../assets/css/variable.scss';
 
 header {
     height: 56px;

     .toolbar-ios {
        min-height: auto ;
     }
     
     ion-navbar {
         height: 100%;
         background-color: $bms_black;
         color: $bms_white;
         display: flex;
         justify-content: space-between;
         padding: 5px;
         box-shadow: $bms_shadow;
         
         .toolbar-background {
             background: unset;
         }
         
         .title-ios {
             justify-content: center;
         }
         
         ion-title {
             .toolbar-title {
                 color: unset;
                 display: flex;
                 align-items: center;
                 width: auto;
                 
                 img {
                     height: 35px;
                     width: 35px;
                     margin-right: 5px;
                 }
             }
         }
         
         .bar-button-default {
             color: $bms_white;
         }
     }

     span.hiddenOnline {
            position: absolute;
            right: 105%;
            z-index: -1;
            opacity: 0;
            background: none;
            color: white;
            font-weight: bold;
            font-size: 15px;
            top: 6px;
            transition: all 1.5s ease-in-out
      }
    
       span.visibleOnline {
        position: absolute;
        z-index: 1;
        opacity: 1;
        background: none;
        color: white;
        font-weight: bold;
        font-size: 15px;
        top: 6px;
        right: 105%;
        transition: all 1.5s ease-in-out
       }

       button.turnButton {
            transform: rotate(360deg);
            transition: all 1s ease-in-out
       }
 }
