 @import '../../assets/css/variable.scss';
 
 header {
     height: 50px;
     
     ion-navbar {
         background-color: $bms_black;
         color: $bms_white;
         display: flex;
         justify-content: space-between;
         padding: 5px;
         box-shadow: $bms_shadow;
         height: 100%;
         
         .toolbar-background {
             background: unset;
         }
         
         .title-ios {
             justify-content: center;
         }
         
         ion-title {
             .toolbar-title {
                 color: unset;
                 display: flex;
                 align-items: center;
                 width: auto;
                 
                 img {
                     height: 35px;
                     width: 35px;
                     margin-right: 5px;
                 }
             }
         }
         
         .bar-button-default {
             color: $bms_white;
         }
     }
 }
