<ion-header>
    <header [title]="'Select Products'"></header>
</ion-header>

<ion-content>
    <mat-drawer-container>
        <mat-drawer-content>
            <div class="product" *ngFor="let product of products$ | async" [ngClass]="{
              unselected: selectedProduct && selectedProduct !== product}" (click)="selectProduct(product); animateDrawer(drawer)">
                <ion-chip color="primary">
                    <ion-label>{{ product.name }}</ion-label>
                </ion-chip>
                <img src="{{ product.image }}" />
            </div>
        </mat-drawer-content>

        <mat-drawer #drawer mode="side" position="end" opened>
            <div *ngIf="!isItemSelected">
                <div class="items-list">
                    <h5>Selected Items</h5>
                    <div *ngIf="allChosenProducts.length > 0">
                        <mat-list>
                            <mat-list-item *ngFor="let item of allChosenProducts">
                                <img mat-list-icon src="{{item.product.image}}" />
                                <h6 mat-line>{{item.product.name | titlecase}}</h6>
                                <p mat-line>{{item.quantity}} {{item.product.unit}}</p>
                                <span>{{item.subTotal}}{{item.currency}}</span>
                                <button (click)="removeFromCart(item)" class="remove-product"><i class="material-icons">delete</i></button>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <i mat-list-icon class="material-icons">shopping_cart</i>
                                <h6 mat-line>Total</h6>
                                <span>{{total}}{{form.controls.currency.value}}</span>
                            </mat-list-item>
                        </mat-list>
                    </div>
                    <div *ngIf="allChosenProducts.length == 0" class="no-product-chip">
                        <ion-chip color="danger">
                            <i class="material-icons">remove_shopping_cart</i>
                            <ion-label>No items selected</ion-label>
                        </ion-chip>
                    </div>
                </div>
                <div class="buttons-container">
                    <button *ngIf="allChosenProducts.length !== 0" mat-raised-button class="background-red" (click)="clearItemList()">
                        <i class="material-icons">clear</i>
                        Clear All
                    </button>
                    <button *ngIf="allChosenProducts.length !== 0" mat-raised-button class="background-green" (click)="goToScanPage()">
                        <i class="material-icons">check</i>
                        Checkout
                    </button>
                </div>
            </div>

            <div *ngIf="isItemSelected" class="calculator-view">
                <div class="selected-product">
                    <ion-grid>
                        <ion-row class="product-details">
                            <div>
                                <img src="{{ selectedProduct.image }}" />
                                <h5 *ngIf="selectedProduct.name.length <= 9; else isTooLong">
                                    {{selectedProduct.name}}
                                </h5>
                                <ng-template #isTooLong>
                                    <h5>
                                        {{selectedProduct.name.substring(0,8)}} ...
                                    </h5>
                                </ng-template>
                            </div>
                            <div>
                                <i class="material-icons" matPrefix (click)="addToBasket()">add_shopping_cart</i>
                            </div>
                        </ion-row>
                        <ion-row class="product-inputs">
                            <form [formGroup]="form" *ngIf="form">
                                <mat-form-field class="product-form-item" [ngClass]="{'focused': typing == 'quantity'}" (click)="typing = 'quantity'">
                                    <i class="material-icons" matPrefix>shopping_cart</i>
                                    <input type="text" matInput placeholder="Quantity" readonly [value]="quantity">
                                    <span matSuffix>{{ selectedProduct.unit }}</span>
                                </mat-form-field>
                                <mat-form-field class="product-form-item" [ngClass]="{'focused': typing == 'price'}" (click)="typing = 'price'">
                                    <i class="material-icons" matPrefix>monetization_on</i>
                                    <input type="text" matInput placeholder="Unit Price" readonly [value]="price">
                                    <ion-select matSuffix formControlName="currency" interface="popover">
                                        <ion-option *ngFor="let currency of currencies" [value]="currency.name">
                                            {{currency.name}}
                                        </ion-option>
                                    </ion-select>
                                </mat-form-field>
                            </form>
                        </ion-row>
                    </ion-grid>
                </div>
                <div class="number-input">
                    <calculator *ngIf="typing == 'quantity'" [(value)]="quantity"></calculator>
                    <calculator *ngIf="typing == 'price'" [(value)]="price"></calculator>
                </div>
            </div>
        </mat-drawer>
    </mat-drawer-container>
</ion-content>