@import "../../theme/mixins.scss";
@import "../../theme/variables.scss";


page-products {

    .page-content{
        @include my-flex-row;
        justify-content: center;
        height: 100%;
        overflow: hidden;
        font-family: $bms_font_header;

        .products-container{
            width: 50%;
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
            padding: 0 10px;
            flex-wrap: wrap;
            flex-grow: 1;
            overflow-y: scroll;
            // border:1px solid green;
            .selected {
                border: solid 1px $bms_green;
                width: 120px;
                height:120px;
                margin: 5px;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .unselected {
                width: 120px;
                height:120px;
                margin: 5px;
                opacity: 0.5;
                border: 1px solid $bms_slate;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .product{
                width: 100px;
                height:100px;
                margin: 5px;
                opacity: 1;
            }
            .product-image {
                height: 80%;
            }
            .product-name {
                margin: 2% 0 0;
            }
        }
        .fields-container{
            height: 100%;
            width: 50%;
            @include my-flex-column;
            // border: 1px solid green;

            .fields{
                height: 40%;
                margin: 5px;
                border: 1px solid $bms_green;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: start;
                font-size: 1.2em;
            }
            .inputs{
                height: 60%;
                @include my-flex-row;
                .input-row {
                    height: 22%;
                    margin: 2px 0;
                    ion-col {
                        text-align: center;
                        border: 1px solid $bms_slate;
                        border-radius: 38%;
                        margin: 0 3%;
                    }
                }
            }

            .items-list-container{
                height: 80%;
                .row-1{
                    background-color: black;
                    color: white;
                    text-align: center;
                }
                .row-2{
                    height: 200px;
                }
            }
            .subtotal-container{
                height: 20%;

                .row-sub {
                    background-color: darksalmon;
                    padding: 5px;
                    height: 50%;
                    @include my-flex-column;
                }

                .row-btns {
                    height: 50%;
                }


                .col-clear {
                    text-align: center;
                    background-color: red;
                    color: white;
                    @include my-flex-column;
                }

                .col-checkout {
                    text-align: center;
                    background-color: green;
                    color: white;
                    @include my-flex-column;
                }
            }
        }
    }
}
