<ion-header>
  <ion-row
    style="display: flex; flex-direction: row; justify-content: space-between; padding: 0 5px; background-color: #132F30;"
  >
    <img
      style="width: 40px; height: 40px;"
      src="../../assets/imgs/bms_logo.png"
    />
    <ion-icon
      style="font-size: 40px; float: right; color: #F1F1FB"
      name="contact"
    ></ion-icon>
  </ion-row>
</ion-header>

<ion-content padding>
  <div class="page-content">
    <div class="products-container">
      <div
        class="product"
        *ngFor="let product of products"
        [ngClass]="{
          selected: selectedProduct === product.id,
          unselected: selectedProduct !== product.id,
          product: selectProduct === undefined || selectProduct === null
        }"
        (click)="selectProduct(product)"
      >
        <p class="product-name">{{ product.name }}</p>
        <img class="product-image" src="{{ product.image }}" />
      </div>
    </div>
    <div class="fields-container" *ngIf="!itemSelected">
      <div class="items-list-container">
        <ion-row class="row-1">
          <ion-label>Selected Items</ion-label>
        </ion-row>
        <ion-row *ngIf="hasItems" class="row-2">
          <div class="items-list"></div>
        </ion-row>
        <ion-row *ngIf="!hasItems" class="row-2">
          <p>No item selected</p>
        </ion-row>
      </div>
      <div class="subtotal-container">
        <ion-row class="row-sub">
          Total : {{total}}
        </ion-row>
        <ion-row class="row-btns">
          <ion-col class="col-clear">
            Clear
          </ion-col>
          <ion-col class="col-checkout" (click)="goToScanPage()">
            Checkout
          </ion-col>
        </ion-row>
      </div>
    </div>
    <div class="fields-container" *ngIf="itemSelected">
      <div class="fields">
          <ion-grid>
            <ion-row class="field-input">
              <ion-col>{{ myproduct.name }}</ion-col>
            </ion-row>
            <ion-row class="field-input">
              <ion-col>Quantity:</ion-col>
              <ion-col>{{quantity}}</ion-col>
            </ion-row>
            <ion-row class="field-input">
              <ion-col>Unit price:</ion-col>
              <ion-col>{{ myproduct.price }}</ion-col>
            </ion-row>
          </ion-grid>
      </div>
      <div class="inputs">
        <ion-grid>
          <ion-row class="input-row">
            <ion-col (click)="button(1, myproduct.id)">1</ion-col>
            <ion-col (click)="button(2, myproduct.id)">2</ion-col>
            <ion-col (click)="button(3, myproduct.id)">3</ion-col>
          </ion-row>
          <ion-row class="input-row">
            <ion-col (click)="button(4, myproduct.id)">4</ion-col>
            <ion-col (click)="button(5, myproduct.id)">5</ion-col>
            <ion-col (click)="button(6, myproduct.id)">6</ion-col>
          </ion-row>
          <ion-row class="input-row">
            <ion-col (click)="button(7, myproduct.id)">7</ion-col>
            <ion-col (click)="button(8, myproduct.id)">8</ion-col>
            <ion-col (click)="button(9, myproduct.id)">9</ion-col>
          </ion-row>
          <ion-row class="input-row">
            <ion-col (click)="button(0, myproduct.id)">0</ion-col>
            <ion-col (click)="backspace()"><--</ion-col>
            <ion-col (click)="addToBasket()">ADD</ion-col>
          </ion-row>
        </ion-grid>

        <!-- <ion-col class="calc-column">
          <ion-row>1</ion-row>
          <ion-row>4</ion-row>
          <ion-row>7</ion-row>
        </ion-col>
        <ion-col class="calc-column">
          <ion-row>2</ion-row>
          <ion-row>5</ion-row>
          <ion-row>8</ion-row>
        </ion-col>
        <ion-col class="calc-column">
          <ion-row center>3</ion-row>
          <ion-row>6</ion-row>
          <ion-row>9</ion-row>
        </ion-col>
        <ion-col class="calc-column">
          <ion-row>0</ion-row>
          <ion-row>+</ion-row>
        </ion-col> -->
      </div>
    </div>
  </div>
</ion-content>
